.detail_container,.description_container, .result_container, .posts_container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
}

.posts_container table {
  width: 100%;
  text-align: left;
  /*background-color: #EEEEEE;*/
}

.posts_container table td,.posts_container table th {
  border-bottom: 1px dashed #BDBDBD;
  line-height: 28px;
}

.posts_container table .title {
  width: 60%;
}

.posts_container table .author {
  width: 10%;
}

.posts_container table .reply {
  width: 10%;
}

.posts_container table .last {
  width: 20%;
}

.detail_container {
  padding-top: 29px;
}

.image_presentation {
  display: inline-block;
  vertical-align: top;
}

.thumbnails_presentation {
  display: inline-block;
  vertical-align: top;
}

.thumbnails_presentation .thumbnail {
  width: 70px;
  height: 70px;
}

#current_presentation{
  display:inline-block;
	/*height:400px;
  width: 400px;
  background-color: #eee;*/
  vertical-align: top;
	text-align:center;
}
#current_presentation:after{
	display:inline-block;
	width:0;
	/*height:100%;*/
	vertical-align:middle;
	content:'';
}
#current_presentation p{
	display:inline-block;
	vertical-align:middle;
  height:400px;
  width: 400px;
  margin: 0;
  background: url("../image/activity1.jpg") #eee no-repeat left center;
}

.text_detail {
  display: inline-block;
  margin-left: 120px;
  vertical-align: top;
}

.text_detail ul {
  text-align: center;
}

.text_detail li {
  margin: 10px 0;
}

.participants_container .sponsor_img_container {
  display: inline-block;
}

.participants_container .sponsor_img {
  width: 82px;
  height: 82px;
}

.participants_container .participant_img_container {
  display: inline-block;
  vertical-align: top;
}
.participants_container .participant_img_container p {
  margin-top: 6px;
  margin-left: 5px;
  text-align: right;
  font-size: 85%;
}

/*.participants_container li.btn_container {*/
  /*margin: 30px auto;*/
  /*text-align: center;*/
/*}*/

li .btn_container {
  display: inline-block;
  margin: 0 18px;
}

.participants_container .participant_img {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
}
