.topNav {
  text-align: center;
  /*clear: both;*/
  width: 100%;
  display: block;
  background-color: white;
  z-index: 1;
}

.topNav li {
  display: inline-block;
}

.topNav .nav-left {
  float: left;
}

.topNav .nav-left:first-child {
  padding-left: 40px !important;
}

.topNav .nav-right:last-child {
  padding-right: 40px !important;
}

#firstNav {
  text-align: right;
  font-size: 80%;
  padding: 10px 0;
  position: fixed;
  top: 0;
}

#firstNav li{
  padding: 0px 5px;
}

#secondNav {
  top: 32px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  padding: 20px 0;
  position: fixed;
  line-height: 32px;
  vertical-align: middle;
}

#secondNav li {
  padding: 0 40px;
  vertical-align: middle;
}

.main {
  margin-top: 115px;
}

.main .left {
  width: 300px;
  padding: 0 40px;
  display: inline-block;
  vertical-align: top;
  /*position: absolute;*/
  /*top: 120px;*/
  /*bottom: auto;*/
}

.main .right {
  /*margin-top: 120px;*/
  padding: 0 40px;
  /*margin-left: 300px;*/
  min-width: 450px;
  display: inline-block;
  vertical-align: top;
  /*padding-top: */
}

.main ul.sidenav {
  list-style: none;
}

.main ul.sidenav li {
  margin: 20px 10px;
}

.main ul.sidenav .title {
  margin: 30px 0;
  font-size: 120%;
  font-style: normal;
}

.main .right .imagebar {
  height: 230px;
  left: 300px;
  /*background: url("../image/bar.png") white no-repeat 50% center;*/
  /*position: relative;*/
}

.main .group-big {
  margin: 0 0 50px;
}


.main .group-big h4 {
  display: block;
  margin-top: 33px;
}

.main .group-big small {
  color: #999;
  font-size: 100%;
  margin-left: 3px;
}

.main .group-middle {
  /*width: 100%;*/
  display: block;
  margin: 40px 25px;
}

.main .group-middle div {
  display: inline-block;
  vertical-align:top;
}

.main .group-middle .text_container div {
  vertical-align:middle;
}

.main .group-middle .text_container h4 {
  margin: 5px 10px;
}

.main .group-middle .col_container {
  display: inline-block;
  vertical-align:middle;
  margin: 10px 10px;
}

.main .group-middle .img_container{
  overflow: hidden;
  /*height: 100%;*/
  width: 420px;
}

.main .group-middle .img_container img {
  height: 120px;
}

.main .group-middle .col_container li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  /*margin: 0 5px;*/
}

.main .group-small {
  display: inline-block;
  text-align: center;
  width: 230px;
  margin: 10px auto;
  font-size: 90%;
}

.main .group-small .img_container{
  overflow: hidden;
  /*height: 100%;*/
  width: 180px;
  margin: 0 auto;
}

.main .group-small .img_container img {
  height: 150px;
}

.main .group-small .icon_line {
  margin: 5px 0;
  color: #999;
  font-size: 100%;
}

.main .group-small .icon_line i {
  margin: 0;
  padding: 0 5px;
  /*color: 0 1px 0 #ccc;*/
  /*text-shadow: #eeeeee;*/
    /*border: 1px solid #ccc;*/
}

.group-big .form_container {
  width:850px;

}

.group-big .form_container form {
  width: 650px;
  margin-left:auto;
  margin-right:auto;
}

.group-big form label {
  /*vertical-align: top;*/
  margin-right:  20px;
}

.group-big form div {
  margin-top: 40px;
  margin-bottom: 40px;
  width:100%;
  display: block;
  text-align: left;
}


.group-big form input.field, .group-big form textarea {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  width: 350px;
  box-sizing: border-box;
  padding: 0 16px;

}

.group-big form input.checkbox {
  width:20px;;
  padding: 0 16px;
  margin: 0 10px;
  height: 20px;
  vertical-align: middle;
}

.group-big form input.field {
  height: 36px;
  vertical-align: middle;
}

.group-big form textarea {
  height: 100px;
  vertical-align: top;
}

.group-big form .btn {
  width: 100px;
  margin-left: 180px;
}