

body {
  margin: 0;
  background-color: white;
  font-family: 等线,华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
  font-size: 16px;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #191919;
  color: #999;
  font-family: "Helvetica W01 Roman",Helvetica,Arial,'Heiti SC','ST Heiti','华文黑体','Microsoft YaHei','雅黑体',SimHei,'黑体',sans-serif;
  font-size: 0.84em;
  text-align: center;
  padding: 10px;
  /*bottom: 0;*/
  /*top: auto;*/
  clear: both;
  line-height: 250%;
  /*position: absolute;*/
  /*bottom: 0;*/
  width:100%;
}

footer li {
  display: inline-block;
}

hr {
  display: block;
  border-top: 1px solid #BDBDBD;
  width: auto;
  margin: 30px 0;
  margin-right: 25%;
}

h3{
  font-size: 140%;
  font-family: Arial,华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
  font-style: normal;
}

h4{
  font-size: 120%;
  font-family: Arial,华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
  font-style: normal;
}

img.logo {
  width: 30px;
  height: 30px;
}


.btn {
    background-color: #fa5400;
    font-size: 15px;
    color: #fff;
    width: 190px;
    padding: 5px 20px;
    border: 0.8px solid #fa5400;
    border-radius: 2px;
}

/*.avatar_circle*/

img.avatar_circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
