<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/master.css" media="screen" title="no title">
    <link rel="stylesheet" href="../static/css/activities.css" media="screen" title="no title">
  </head>
  <body>
    <?php include("/view/common/header.html");?>
    <div class="main">
      <div class="banner">
      </div>
      <div class="left">
        <ul class="sidenav">
          <li class="title"><h4>活动 ACTIVITIES</h4></li>
          <hr>
          <li><a href="#">我参与的活动</a></li>
          <li><a href="#">进行中的活动</a></li>
          <li><a href="#">结束的活动</a></li>
          <li><a href="/activity/new">创建活动</a></li>
        </ul>
      </div>
      <div class="right">
        <div class="group-big">
          <h4>我参与的活动<small>(2)</small></h4>
          <div class="form_container">
            <form class="" action="/newActivity" method="post">
              <div><label>活动名称：</label><input class="field" type="text" name="title" value="" placeholder=""></div>
              <div><label>活动类型：</label>线上<input type="radio" checked="checked" name="Sex" value="male" />
                线下<input type="radio" name="Sex" value="female" ></div>
              <div><label>活动地点：</label><input class="field" type="text" name="location" value="" placeholder=""></div>
              <div><label>活动描述：</label><textarea type="text" name="description" value="" placeholder=""></textarea></div>
              <div style="margin-left: 150px;"><input class="checkbox" checked type="checkbox" name="ifJoin">同时加入活动</div>
              <input type="submit" class="btn" value="创  建">
            </form>
          </div>
      </div>
    </div>
    <?php include("/view/common/footer.html");?>
  </body>
</html>
