<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="../static/css/login.css" media="screen" title="no title">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
  </head>
  <body>
    <h2 class="title">RUNNING CLUB</h2>
    <div class="main">
      <div class="middle">
        <form class="" action="/register" method="post">
          <input type="email" name="email" value="" placeholder="电子邮件">
          <input type="password" name="password" value="" placeholder="密码">
          <!--<a id="register" class="btn" type="submit" href="">创建账号</a>-->
          <input type="submit" class="btn" id="register" value="创建账号">
        </form>
      </div>
    </div>
    <?php include("/view/common/footer.html"); ?>
  </body>
</html>
